<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        .container {
            max-width: 1200px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>대출상환스케줄 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'계산 완료'"></h2>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>상환방법</th>
                <th>대출원금</th>
                <th>대출이율</th>
                <th>상환개월</th>
                <th>대출시작일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" id="loanId" name="loanId" class="form-control" value="1" th:value="${loan.id}" readonly>
                </td>
                <td>
                    <input type="text" id="loanType" name="loanType" class="form-control" value="원리금균등상환" th:value="${loan.loanType.description}" readonly>
                </td>
                <td>
                    <input type="text" id="loanAmount" name="loanAmount" class="form-control" value="100000" th:value="${#numbers.formatInteger(loan.loanAmount,0,'COMMA')}" readonly>
                </td>
                <td>
                    <input type="text" id="interestRate" name="interestRate" class="form-control" value="3.5" th:value="${loan.interestRate}" readonly>
                </td>
                <td>
                    <input type="text" id="loanTerm" name="loanTerm" class="form-control" value="36" th:value="${loan.loanTerm}" readonly>
                </td>
                <td>
                    <input type="text" id="loanDate" name="loanDate" class="form-control" value="2023-01-17" th:value="${loan.loanDate}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-4">

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>납입회차</th>
                <th>납입일</th>
                <th>월불입금</th>
                <th>월원금</th>
                <th>월이자</th>
                <th>잔여원금</th>
                <th>잔여이자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="schedule : ${schedules}">
                <td th:text="${schedule.paymentCount}">납입회차</td>
                <td th:text="${schedule.paymentDate}">납입일</td>
                <td th:text="${#numbers.formatInteger(schedule.monthlyPayment,0,'COMMA')}">월불입금</td>
                <td th:text="${#numbers.formatInteger(schedule.monthlyPrincipal,0,'COMMA')}">월원금</td>
                <td th:text="${#numbers.formatInteger(schedule.monthlyInterest,0,'COMMA')}">월이자</td>
                <td th:text="${#numbers.formatInteger(schedule.loanBalance,0,'COMMA')}">잔여원금</td>
                <td th:text="${#numbers.formatInteger(schedule.interestBalance,0,'COMMA')}">잔여이자</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/loans/edit/{loanId}(loanId=${loan.id})}'|"
                    type="button">변경</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='loans.html'"
                    th:onclick="|location.href='@{/loans}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>